/* KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK */
@media only screen and (min-width: 406px) and (max-width: 600px) {


    /** Card **/
    
    .card {
        display: flex;
        flex-direction: column;
        margin: 40px;
        max-width: 280px;
        padding: 17px;
        text-align: justify;
        box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.766);
        border-radius: 15px;
        border: 2px solid rgb(255, 255, 255);
        background-color: #41414165;
        right: 3%;
        position: absolute;
        top: 13%;
        backdrop-filter: blur(15px);
        z-index: 2;
        
    }
    
    /** Card **/
    .card2 {
        
        display: none;
        flex-direction: column;
        margin: 40px;
        max-width: 280px;
        padding: 17px;
        text-align: justify;
        box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.766);
        border-radius: 15px;
        border: 2px solid rgb(255, 255, 255);
        background-color: #41414165;
        right: 3%;
        position: absolute;
        top: 13%;
        backdrop-filter: blur(15px);
        z-index: 2;
        
    }
    
    
    .card::before, .card2::before {
        content: '';
        position: relative;
        top: 0;
        right: 0;
        
    }
    
    
     /** Content **/
    .content {
        height: 150px;
    
    }
    
    .content::before {
        content: '';
        position: relative;
        bottom: 0;
        width: 150%;
        height: 150px;
        
    }
    
    iframe {
        
        border-radius: 5px;
        width: 90%;
        height: 150px;
        align-items: center;
        margin-bottom: 20px;
        
    }

    .icon{

        left:0;
    }
    
    .carros{
    
        display: flex;
        margin-bottom: 30px;
        margin-top: 90%;
        margin-left: 0%;
        position: absolute;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    
    }
    
    /* CSS */
    .button-86, .button-85{
    
        width: 80px;
        height: 25px;
    
      }
      
      .rosto h1{
    
        font-size: 26px;
        margin-bottom:50px;
    }
    
    .rosto{
    
        display: flex;
        top: 2%;
        left:48px;
        color: white;
        position: fixed;
        z-index: 999;
        
    }
      
    .rosto p{
    
        font-size: 18px;
        position: absolute;
        top: 50px;
        left: 2px;
        
    }
    
    }

@media only screen and (min-width: 200px) and (max-width: 405px) {


/** Card **/
.card {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 280px;
    padding: 17px;
    text-align: justify;
    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.766);
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #41414165;
    right: 3%;
    position: absolute;
    top: 13%;
    backdrop-filter: blur(15px);
    z-index: 2;
    
}

/** Card **/
.card2 {
    display: none;
    flex-direction: column;
    margin: 40px;
    max-width: 280px;
    padding: 17px;
    text-align: justify;
    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.766);
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #41414165;
    right: 3%;
    position: absolute;
    top: 13%;
    backdrop-filter: blur(15px);
    z-index: 2;
    
}


.card::before, .card2::before {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    
}


 /** Content **/
.content {
    height: 150px;

}

.content::before {
    content: '';
    position: relative;
    bottom: 0;
    width: 150%;
    height: 150px;
    
}

    iframe {
        
        border-radius: 5px;
        width: 90%;
        height: 150px;
        align-items: center;
        margin-bottom: 20px;
        
    }

    .icon{

        left:0;
    }

.carros{

    display: flex;
    margin-bottom: 30px;
    margin-top: 90%;
    margin-left: 0%;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;


}

/* CSS */
.button-86, .button-85{

    width: 80px;
    height: 25px;

  }
  
  .rosto h1{

    font-size: 26px;
    margin-bottom:50px;
}

.rosto{

    display: flex;
    top: 2%;
    left:48px;
    color: white;
    position: fixed;
    z-index: 999;
    
}
  
.rosto p{

    font-size: 18px;
    position: absolute;
    top: 50px;
    left: 2px;
    
}

}
